# Dependency directories
node_modules/
jspm_packages/

# Production build output
dist/
build/

# Rollup cache
.rollup.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
.DS_Store
Thumbs.db
.npmrc